@mixin inputFeatures {
    border: 1px solid #cacccd;
    height: 50px;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
}

.text-input {
    @include inputFeatures;
}
.select {
    @include inputFeatures;
}
.textarea {
    @include inputFeatures;
    height: 10rem;
    resize: none;
    @media screen and (min-width:$desktop-breakpoint){
    width: 360px;
    }
}
